Text                                                                                                                                                                                                                                                           
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE VIEW [dbo].[vw_X_Documents_Audit]
                                                                                                                                                                                                                     
AS
                                                                                                                                                                                                                                                           
SELECT
                                                                                                                                                                                                                                                       
    xd.LogId,
                                                                                                                                                                                                                                                
    xd.LogInsertDateTime,
                                                                                                                                                                                                                                    
    xd.Id AS DocumentId,
                                                                                                                                                                                                                                     
    xd.Title,
                                                                                                                                                                                                                                                
    xd.DocumentNumber,
                                                                                                                                                                                                                                       
    xd.CreatedAt,
                                                                                                                                                                                                                                            
    xd.DocRegisterDate,
                                                                                                                                                                                                                                      
    xd.Note,
                                                                                                                                                                                                                                                 
    xd.DocumentStatusId,
                                                                                                                                                                                                                                     
    ds.Name AS StatusName,
                                                                                                                                                                                                                                   
    z.Name AS ZoneName,
                                                                                                                                                                                                                                      
    e.Name AS EquipmentName,
                                                                                                                                                                                                                                 
    u1.UserName AS CreatedByUserName,
                                                                                                                                                                                                                        
    u2.UserName AS EditedByUserName,
                                                                                                                                                                                                                         
    xd.EditedAt,
                                                                                                                                                                                                                                             
    xd.LogActionId,
                                                                                                                                                                                                                                          
    CASE xd.LogActionId
                                                                                                                                                                                                                                      
        WHEN 1 THEN N'?lav? edilib'
                                                                                                                                                                                                                          
        WHEN 2 THEN N'D?yişdirilib'
                                                                                                                                                                                                                          
        ELSE N'Nam?lum'
                                                                                                                                                                                                                                      
    END AS LogActionName,
                                                                                                                                                                                                                                    
    dt.Name AS DocumentTypeName   -- ? T?l?bnam? sah?si ?lav? edildi
                                                                                                                                                                                         
FROM X_Documents xd
                                                                                                                                                                                                                                          
LEFT JOIN DocumentStatus ds ON xd.DocumentStatusId = ds.Id
                                                                                                                                                                                                   
LEFT JOIN Zones z ON xd.ZoneId = z.Id
                                                                                                                                                                                                                        
LEFT JOIN Equipments e ON xd.EquipmentId = e.Id
                                                                                                                                                                                                              
LEFT JOIN AspNetUsers u1 ON xd.UserId = u1.Id
                                                                                                                                                                                                                
LEFT JOIN AspNetUsers u2 ON xd.EditedByUserId = u2.Id
                                                                                                                                                                                                        
LEFT JOIN DocumentTypes dt ON xd.DocumentTypeId = dt.Id;  -- ? LEFT JOIN il?
                                                                                                                                                                                 
