@model DocManagement.Models.Equipment

@{
    ViewData["Title"] = "Avadanlığı Redaktə Et";
}

<h2>Avadanlığı Redaktə Et</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Adı</label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            

            
            <div class="mb-3">
                <label asp-for="Status" class="form-label">Status</label>
                <select asp-for="Status" class="form-select">
                    <option value="1">Aktiv</option>
                    <option value="0">Passiv</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Yadda saxla</button>
            <a asp-action="Index" class="btn btn-secondary">Geri</a>
        </form>
    </div>
</div>
